@page
@model WebdevProjectStarterTemplate.Pages.DisplayCategories


<div class="row mt-3">
    <div class="col">
        <h1>Overzicht per Categorie</h1>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        @foreach (var category in Model.Categories)
        {
            <h3>@category.Name (@category.Products.Count)</h3>
            @if (category.Products.Any())
            {
                <table class="table table-striped">
                    <tbody>
                    @foreach (var product in category.Products)
                    {
                        <tr>
                            <td>@product?.Name</td>
                            <td>@product?.Price</td>
                        </tr>
                    }
                    </tbody>
                </table>    
            }
            <hr/>
        }
    </div>
</div>