@page
@model WebdevProjectStarterTemplate.Pages.DisplayProducts

<div class="row">
    <div class="col">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var product in Model.ProductWithCategory)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Category.Name</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>