@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1><a asp-page="Categories/Index">CRUD Categorie voorbeeld</a></h1>
    <p>Voor code zie directory: Pages/Categories</p>
</div>

<div class="text-center">
    <h1><a asp-page="@nameof(DisplayProducts)">Weergave van producten</a></h1>
    <h1><a asp-page="@nameof(DisplayCategories)">Weergave van categorieën met bijbehorende producten</a></h1>
    
    <p>Voor code zie directory respectievelijk: DisplayCategories.cshtml & DisplayProducts.cshtml. 
        Zie de repositories voor bijbehorende SQL code (LEFT JOIN en JOIN)</p>
</div>

@* <div class="text-center"> *@
@*     <h1 class="display-4">Welcome</h1> *@
@*     <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
@* </div> *@